body{
    background-color: black;
}
.navbar-toggler-icon{
    background-color: lime;
    color: white;
}
.navbar-toggler{
    background-color: deeppink;
    color: yellow;
    border-color: blue;
}
.text-color {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.text-color:hover {
    color: orangered;
}

.text-color-active {
    font-family: 'Poppins', sans-serif;
    color: blue;
}
.text-color-active:hover{
    color:blue;
}

/*rahul.html*/
.animate-character {
    font-family:'Poppins', sans-serif;
    background-image: linear-gradient(
            -225deg,
            orangered 0%,
            red 29%,
            red 67%,
            blue 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 75px;
    margin-top: 250px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.text-contact{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 85px;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
}
.text-name-input{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.text-email-address-input{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.text-message-input{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.form-color{
    color: dimgrey;
}
.contact-form{
    height: 50px;
}
.wrapper-container{
    height: 50px;
    margin-left: 75px;

}
.form-control{
    color: blue;
}

.border-color{
    color: orangered;
}
.border-hover:hover{
    color: orangered;
}
.text-color-input{
    color: white;
}
.text-color-input:hover{
    color: white;
}
.button-submit{
    color: orangered;
    font-family: 'Poppins', sans-serif;
    size: 50px;
}
.btn-sm {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    color: orangered;
}
.text-contact-1{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 85px;

    font-size: 18px;
    margin-top: 20px;
}
.link-contact{
    color: orangered;font-family: 'Poppins', sans-serif;

    font-size: 18px;
    margin-top: 20px;

}
.link-contact:hover{
    color: orangered;
}

.text-title{
    color: orangered;
    font-family: 'Poppins', sans-serif;
}
.text-page{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.text-title-home{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 85px;
}
.text-home{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 85px;
    font-weight: bold;
    font-size: 50px;

}
.link-color{
    color: orangered;
}
.link-color:hover{
    color: blue;
}
.navbar-brand{
    font-size: 30px;
}

.navbar-toggler-icon{
    border-color: lime;
}

.nav-link{
    font-family: 'Poppins', sans-serif;
}

.text-color-copyright{
    color: white;
    font-family: 'Poppins', sans-serif;
}

#gallery{
    color: orangered;
    font-family: 'Poppins', sans-serif;
}
