body{
    background-color: black;
}
.navbar-toggler-icon{
    background-color: lime;
    color: white;
}
.navbar-toggler{
    background-color: deeppink;
    color: yellow;
    border-color: blue;
}
.text-color {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.text-color:hover {
    color: orangered;
}

.text-color-active {
    font-family: 'Poppins', sans-serif;
    color: blue;
}
.text-color-active:hover{
    color:blue;
}